@charset "utf-8";

/* CSS document */

html {
	width: 100%;
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat', sans-serif;
	background-image: url("../img/solar-panel.jpg");
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}

div.status-container, div.chart {
	padding: 1.5vw;
	margin: 0.75vw 0;
	color: rgba(255,255,255,1);
	background-color: rgba(48,48,48,0.8);
}

canvas {
	height: 30vh !important;
}

div.status {
	color: rgba(255,255,255,1);
}

p.meter {
	font-style: italic;
	padding: 0;
	margin-bottom: 5px;
	overflow: hidden;
}

div.line {
	width: 90%;
	margin-right: 10%;
	height: 3px;
	background-color: #e30613;
}

div.current-status {
	padding: 1%;
}

div.logo {
	display: inline-block;
	padding: 0;
	width: 95%;
	margin: auto;
	padding-bottom: 50px;
}

div.logo img {
	float: left;
	padding: 1%;
	width: 30%;
	margin-top: 0;
}